<div class="p-4 main-background" xmlns="http://www.w3.org/1999/html">
  <div class="container-lg">
    <div class="row">
      <div class="col-4">
        <p class="font-weight-bold h6">EventsNearYou</p>
        <p>+48 42 444 55 66<br>
          ul. Żeromskiego 116<br>
          90-924 Łódź<br>
          Polska</p>
      </div>
      <div class="col-4">
        <a href="#home"><p class="font-weight-bold h6">Strona główna</p></a>
        <a href="#about_us"><p class="font-weight-bold h6">O nas</p></a>
        <a href="#events"><p class="font-weight-bold h6">Wydarzenia</p></a>
        <a href="#contact"><p class="font-weight-bold h6">Kontakt</p></a>
      </div>
      <div class="col-4 text-center">
        <p class="font-weight-bold h6">Zaobserwuj nas na</p>
        <div class="container">
          <a href="https://www.facebook.com/"><img src="./assets/social_media/facebook.png" style="height: 25px; margin: 5px" alt="Link do profilu na portalu Facebook"></a>
          <a href="https://www.instagram.com/"><img src="./assets/social_media/instagram.png" style="height: 25px; margin: 5px" alt="Link do profilu na portalu Instagram"></a>
          <a href="https://www.facebook.com/"><img src="./assets/social_media/youtube.png" style="height: 25px; margin: 5px" alt="Link do profilu na portalu Youtube"></a>
          <a href="https://www.facebook.com/"><img src="./assets/social_media/twitter.png" style="height: 25px; margin: 5px" alt="Link do profilu na portalu Twitter"></a>
        </div>
      </div>
    </div>
  </div>
</div>
