<div class="row mb-5">
  <p class="text-center h5">Minione wydarzenia</p>
  <div class="col-md-6 mb-3 mt-2">
    <div class="card">
      <img src="./assets/events_photos/2.1.jpg" class="card-img-top" alt="Koncert smyczkowy">
      <div class="card-body">
        <h5 class="card-title">Koncert smyczkowy</h5>
        <p class="card-text">Koncert smyczkowy odbędzie się w następną sobotę w Łodzi w Teatrze Wielkim.</p>
        <a href="#events_register" class="btn btn-light main-background">Zapisz się!</a>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-3 mt-2">
    <div class="card">
      <img src="./assets/events_photos/2.2.jpg" class="card-img-top" alt="Festival Kolorów w Łodzi">
      <div class="card-body">
        <h5 class="card-title">Festival Kolorów w Łodzi</h5>
        <p class="card-text">Jak co roku 28 sierpnia odbędzie się Festival Kolorów w Łodzi. Zapraszamy młodzież na wspólną zabawę!</p>
        <a href="#events_register" class="btn btn-light main-background">Zapisz się!</a>
      </div>
    </div>
  </div>
</div>
