<div class="row mb-5" id="events">
  <p class="text-center h5">Wydarzenia dla Ciebie</p>
  <div class="col-md-3 mt-2">
    <div class="card">
      <img src="./assets/events_photos/1.1.jpg" class="card-img-top" alt="Koncert Dżemu">
      <div class="card-body">
        <h5 class="card-title">Koncert Dżemu</h5>
        <p class="card-text">W ten czwartek odbędzie się koncert Dżemu! Zapraszamy wszystkich dziadersów. Godzina otwarcia drzwi - 20:00.</p>
        <a href="#events_register" class="btn btn-light main-background">Zapisz się!</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 mt-2">
    <div class="card">
      <img src="./assets/events_photos/1.2.jpg" class="card-img-top" alt="Maraton w Łodzi">
      <div class="card-body">
        <h5 class="card-title">Maraton w Łodzi</h5>
        <p class="card-text">W ten weekend maratończycy będą mieć okazję pobiec także w Łodzi! Bierzcie buty do biegania i migiem na ulice!</p>
        <a href="#events_register" class="btn btn-light main-background">Zapisz się!</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 mt-2">
    <div class="card">
      <img src="./assets/events_photos/1.3.jpg" class="card-img-top" alt="Piknik rodzinny">
      <div class="card-body">
        <h5 class="card-title">Piknik rodzinny</h5>
        <p class="card-text">Każdy rodzic ma okazję zabrać swoją pociechę na piknik rodziny i spędzić razem miło czas.</p>
        <a href="#events_register" class="btn btn-light main-background">Zapisz się!</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 mt-2">
    <div class="card">
      <img src="./assets/events_photos/1.4.jpg" class="card-img-top" alt="Wystawa sztuki szkołu artystycznej">
      <div class="card-body">
        <h5 class="card-title">Wystawa sztuki szkoły artystycznej</h5>
        <p class="card-text">MS2 w Łodzi wystawi dla nas dzieła uczniów szkoły artystycznej. Przez następny miesiąc będzie można zapoznać się z ich twórczością.</p>
        <a href="#events_register" class="btn btn-light main-background">Zapisz się!</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 mt-2">
    <div class="card">
      <img src="./assets/events_photos/1.10.jpg" class="card-img-top" alt="Spektakl w Teatrze Wielkim">
      <div class="card-body">
        <h5 class="card-title">Spektakl w Teatrze Wielkim</h5>
        <p class="card-text">W Teatrze Wielkim mamy okazję zobaczyć ulubiony spektakl każdego gimnazjalisty, czyli "Zemsta" Aleksandra Fredry. </p>
        <a href="#events_register" class="btn btn-light main-background">Zapisz się!</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 mt-2">
    <div class="card">
      <img src="./assets/events_photos/1.6.jpg" class="card-img-top" alt="Warsztaty gotowania dla dzieci">
      <div class="card-body">
        <h5 class="card-title">Warsztaty gotowania dla dzieci</h5>
        <p class="card-text">Dom kultury organizuje warsztaty gotowania dla dzieci. Przyjdź ze swoim kidoskiem! Może nauczycie się czegoś razem. :)</p>
        <a href="#events_register" class="btn btn-light main-background">Zapisz się!</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 mt-2">
    <div class="card">
      <img src="./assets/events_photos/1.8.jpg" class="card-img-top" alt="Turniej golfa">
      <div class="card-body">
        <h5 class="card-title">Turniej golfa</h5>
        <p class="card-text">Panowie, przyjdzcie razem na turniej golfa razem ze swoimi kijami do gry. Swoje babeczki też możecie zabrać.</p>
        <a href="#events_register" class="btn btn-light main-background">Zapisz się!</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 mt-2">
    <div class="card">
      <img src="./assets/events_photos/1.7.jpg" class="card-img-top" alt="Wspólna zabawa frisby">
      <div class="card-body">
        <h5 class="card-title">Wspólna zabawa frisby</h5>
        <p class="card-text">Przyjdź z przyjaciólmi na wspólną zabawe frisby! Pieski i dzieci także mile widziani!</p>
        <a href="#events_register" class="btn btn-light main-background">Zapisz się!</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 mt-2">
    <div class="card">
      <img src="./assets/events_photos/1.9.jpg" class="card-img-top" alt="Turniej szachowy">
      <div class="card-body">
        <h5 class="card-title">Turniej szachowy</h5>
        <p class="card-text">Turniej szachowy dziadersów, ale młodzi także mogą przyjść pokibicować.</p>
        <a href="#events_register" class="btn btn-light main-background">Zapisz się!</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 mt-2">
    <div class="card">
      <img src="./assets/events_photos/1.5.jpg" class="card-img-top" alt="Wernisaż wystawy sztuki nowoczesnej">
      <div class="card-body">
        <h5 class="card-title">Wernisaż wystawy sztuki nowoczesnej</h5>
        <p class="card-text">MS1 w Łodzi oranizuje wernisaż wystawy sztuki nowoczesnej. Zapraszamy każdego fana malarstwa!</p>
        <a href="#events_register" class="btn btn-light main-background">Zapisz się!</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 mt-2">
    <div class="card">
      <img src="./assets/events_photos/1.11.jpg" class="card-img-top" alt="Festival Dobrej Muzyki">
      <div class="card-body">
        <h5 class="card-title">Festival Dobrej Muzyki</h5>
        <p class="card-text">W tym roku w Łodzi odbędzie się Festival Dobrej Muzyki, bo dobrą muzykę każdy lubi.</p>
        <a href="#events_register" class="btn btn-light main-background">Zapisz się!</a>
      </div>
    </div>
  </div>
  <div class="col-md-3 mt-2">
    <div class="card">
      <img src="./assets/events_photos/1.12.jpg" class="card-img-top" alt="Wspólna ścianka wspinaczkowa">
      <div class="card-body">
        <h5 class="card-title">Wspólna ścianka wspinaczkowa</h5>
        <p class="card-text">Wspólna ścianka wspinaczkowa dla ludzi z dobrymi mięśniami rąk oraz tych co chcą dobrze spędzić czas.</p>
        <a href="#events_register" class="btn btn-light main-background">Zapisz się!</a>
      </div>
    </div>
  </div>
</div>
