<div class="row mb-5" id="about_us">
  <p class="text-center h5">Wypróbuj naszą stronę!</p>
  <p class="text-center">Jesteś spragniony nowych doświadczeń? Nie masz
    jak spędzić wolnego czasu w fajny sposób? Tutaj znajdziesz to czego
    Ci potrzeba. Każdego weekendu masz okazję uczestniczyć w wydarzeniu,
    które jest zarejetrowane na naszej stronie. Po godzinach pracy masz
    okazję odpocząć w sposób niekonwencjonalny oraz poznać nowych ludzi.
    Zobacz to co Cię interesuje i spotkaj się ze wszystkimi.</p>
</div>

