<img src="./assets/banner.gif" id="banner" alt="Szczęśliwi ludzie :)">
<div class="row mb-5 mt-5" id="about_us">
  <p class="text-center h4">Wypróbuj naszą stronę!</p>
  <p class="text-center">Jesteś spragniony nowych doświadczeń? Nie masz
    jak spędzić wolnego czasu w ciekawy sposób? Tutaj znajdziesz to, czego
    Ci potrzeba. Każdego weekendu masz okazję uczestniczyć w wydarzeniu,
    które jest zarejestrowane na naszej stronie. Po godzinach pracy czy szkoły masz
    okazję odpocząć w sposób niekonwencjonalny oraz poznać nowych ludzi.
    Zobacz, co Cię interesuje i spotkaj się ze wszystkimi.</p>
</div>

