<div class="row mb-5">
  <p class="text-center h5">Skontaktuj się z nami!</p>
  <div class="mb-3 mt-3">
    <label for="email" class="form-label">Podaj swój adres email:</label>
    <input type="email" class="form-control" id="email" placeholder="email@abc.pl">
  </div>
  <div class="mb-3">
    <label for="text" class="form-label">Wprowadź tekst wiadomości</label>
    <textarea class="form-control" id="text" rows="8"></textarea>
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-light main-background mb-3">Wyślij</button>
  </div>
</div>
