<div class="main-background">
  <div class="container-lg">
    <nav class="navbar navbar-expand-md navbar-light main-background">
      <div class="container-fluid">
        <a class="navbar-brand text-black" href="">EventsNearYou</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav_main"
                aria-controls="nav_main" aria-expanded="false" aria-label="Menu">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav_main">
          <div class="navbar-nav">
            <a class="nav-link text-black" href="#about_us">O nas</a>
            <a class="nav-link text-black" href="#events">Wydarzenia</a>
            <a class="nav-link text-black" href="#contact">Kontakt</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
