<div class="row mb-5">
  <p class="text-center h5">Wybrane kategorie</p>
  <div class="col text-center">
    <div class="row main-background category-button d-flex align-items-center">
      <p class="h5">Koncerty i festiwale</p>
    </div>
    <div class="row main-background category-button d-flex align-items-center">
      <p class="h5">Na świeżym powietrzu</p>
    </div>
    <div class="row main-background category-button d-flex align-items-center">
      <p class="h5">Wystawy sztuki</p>
    </div>
  </div>
  <div class="col text-center">
    <div class="row main-background category-button d-flex align-items-center">
      <p class="h5">Sport</p>
    </div>
    <div class="row main-background category-button d-flex align-items-center">
      <p class="h5">Spotkania z ludźmi</p>
    </div>
    <div class="row main-background category-button d-flex align-items-center">
      <p class="h5">Dla dzieci</p>
    </div>
  </div>
</div>
