<div class="row mb-5" id="events_register">
  <p class="text-center h5">Zarejestruj się na wydarzenie</p>
  <div class="row mb-3 mt-3">
    <div class="col">
      <label for="first_name" class="form-label">Podaj swoje imię:</label>
      <input type="text" class="form-control" id="first_name" placeholder="Jan" aria-label="Imię">
    </div>
    <div class="col">
      <label for="last_name" class="form-label">Podaj swoje nazwisko:</label>
      <input type="text" class="form-control" id="last_name" placeholder="Kowalski" aria-label="Nazwisko">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <label for="email" class="form-label">Podaj adres e-mail:</label>
      <input type="email" class="form-control" id="email" placeholder="email@abc.pl" aria-label="E-mail">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <label for="events" class="form-label">Wybierz wydarzenie z listy:</label>
      <select class="form-select" id="events" aria-label="Wydarzenia">
        <option selected>-----</option>
        <option value="1">Koncert Dżemu</option>
        <option value="2">Maraton w Łodzi</option>
        <option value="3">Piknik rodzinny</option>
        <option value="4">Wystawa szkoły artystycznej</option>
        <option value="5">Spektakl w Teatrze Wielkim</option>
        <option value="6">Warsztaty gotowania dla dzieci</option>
        <option value="7">Turniej golfa</option>
        <option value="8">Wspólna zabawa frisby</option>
        <option value="9">Turniej szachowy</option>
        <option value="10">Wernisaż wystawy sztuki nowoczesnej</option>
        <option value="11">Festival Dobrej Muzyki</option>
        <option value="12">Wspólna ścianka wspinaczkowa</option>
      </select>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <button type="submit" class="btn btn-light main-background">Wyślij zgłoszenie</button>
    </div>
  </div>
</div>
