<div class="container-lg">
  <div class="row mb-5">

  </div>
  <div class="row mb-5">
    <p class="text-center h5">Wypróbuj naszą stronę!</p>
    <p class="text-center">Jesteś spragniony nowych doświadczeń? Nie masz
    jak spędzić wolnego czasu w fajny sposób? Tutaj znajdziesz to czego
    Ci potrzeba. Każdego weekendu masz okazję uczestniczyć w wydarzeniu,
    które jest zarejetrowane na naszej stronie. Po godzinach pracy masz
    okazję odpocząć w sposób niekonwencjonalny oraz poznać nowych ludzi.
    Zobacz to co Cię interesuje i spotkaj się ze wszystkimi.</p>
  </div>
  <div class="row mb-5">
    <p class="text-center h5">Wybrane specjalnie dla Ciebie:</p>
  </div>
  <div class="row mb-5">
    <p class="text-center h5">Wybrane kategorie</p>
    <div class="col text-center">
      <div class="row main-background category-button d-flex align-items-center">
        <p class="h5">Koncerty i festiwale</p>
      </div>
      <div class="row main-background category-button d-flex align-items-center">
        <p class="h5">Na świeżym powietrzu</p>
      </div>
      <div class="row main-background category-button d-flex align-items-center">
        <p class="h5">Wystawy sztuki</p>
      </div>
    </div>
    <div class="col text-center">
      <div class="row main-background category-button d-flex align-items-center">
        <p class="h5">Sport</p>
      </div>
      <div class="row main-background category-button d-flex align-items-center">
        <p class="h5">Spotkania z ludźmi</p>
      </div>
      <div class="row main-background category-button d-flex align-items-center">
        <p class="h5">Dla dzieci</p>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <p class="text-center h5">Minione wydarzenia</p>
    <div class="col m-1">
      <!--
      pobrać losowy element z listy wydarzeń:
      - zdjęcie (width 100%)
      - nazwa wydarzeńia (h6 bold)
      - opis wydarzenia
      -->
    </div>
    <div class="col m-1">
      <!--
      jak wyżej
      -->
    </div>
  </div>
</div>
